.button-container {
    display: flex;
    justify-content: center;
    gap: 10px; 
    margin-top: 20px;
}

  .delete-button {
    background-color: #dc3545;
  }

  .main {
    margin: 20px;
    padding: 20px;
  }