.button-container {
    display: flex;
    justify-content: center; /* Centers items horizontally */
    gap: 10px; /* Adds space between buttons */
    margin-top: 20px; /* Adds margin above the button container */
}

  .delete-button {
    background-color: #dc3545; /* Red background for delete button */
  }

  .main {
    margin: 20px;
    padding: 20px;
  }