// @use "@picocss/pico/scss/pico" with (
//   $semantic-root-element: "#root",
//   $enable-semantic-container: true,
// );

// body, html {
//   margin: 0;
//   padding: 0;
// }


// .main-container {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     height: 100vh;
//     text-align: center;
//     background-color: #0a243f;
//   }
  
  h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(216, 217, 222);
  }
  
  button {
    padding: 1rem 2rem;
    font-size: 1rem;
    border: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #357bc7;
    color: rgb(236, 246, 243);
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  