.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-image: url('https://images.pexels.com/photos/3374210/pexels-photo-3374210.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); /* Adjust the path to your image */
    background-size: cover;
  }
  
  h1 {
    font-size: 60px;
    margin-bottom: 48px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(199, 200, 208);
  }
  
  button {
    border: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #299d7e;
    color: rgb(236, 246, 243);
  }

  .main-buttons-container {
    display: flex;
    justify-content: center;
    gap: 20px; 
  }


  
  