.main {
  margin: 20px;
  padding: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

h1 {
  text-align: center;
}

.centered-button {
  display: flex;
  justify-content: center; /* Centers the content horizontally */
  margin-bottom: 40px; /* Adds margin above the button */
}
