.main {
  margin: 20px;
  padding: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

h1 {
  text-align: center;
}

.centered-button {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
